/* Training Arena Styling */
.taleft {
    width: 30%;
    margin-top: 10%;
    padding-left: 20px;
    text-align: center;
}

.taleft select {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tamiddle {
    width: 40%;
    margin-top: 9%;
    text-align: center;
}

.tamiddle select {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.tamiddle select option {
  text-align: center;
}

.taright {
    width: 30%;
    margin-top: 10%;
    padding-right: 20px;
    text-align: center;
}

.taright select {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.background-image {
	background: url('/login_background.gif');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }