/* Main Menu Page Styling */
.menuleft {
    width: 25%;
    margin-top: 10%;
    padding-left: 20px;
    text-align: center;
}
.menuleftbottom {
    width: 25%;
    margin-top: 60%;
    padding-left: 20px;
    text-align: left;

}

h1 {
  border-color: black;

}

.menuright {
    width: 25%;
    margin-top: 10%;
    padding-right: 5px;
    text-align: center;
}

.menumiddle {
    width: 50%;
    margin-top: 10%;

    text-align: center;
}

.menuheader {
    color: white;
    text-align: center;
    padding-top: 70px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mainMenuBtn {
	color: #000921;
	background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

.mainMenuBtn {
	color: #000921;
	background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

.mainMenuBtn:disabled {
	background-color: #999999;
	border: 2px solid #000921
}

.mainMenuBtn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
	border: 2px solid #000921;
}

.mainMenuBtn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.divider{
    width: 100px;
    height:auto;
    display:inline-block;
}