.flexRight {
	background-color: #aeeaae;
	width: 100%;
}

.stickyPosition {
	position: sticky;
	top: 0;
	display: flex;
	background-color: #ffaaff;
	flex-direction: row;
	align-content: stretch;
	width: 100%;
	height: 150px;
}

.stickyButton {
	position: sticky;
}
