
body {
	color: #04CCFF; 
  height: 100%;
  width: 100%;
}

.casusEditorContainerDiv {
  position: absolute;
  bottom: 10px;
}

.casusEditorCanvas {
	background-color: #ffffff;
	height: 350px;
	width: 100%;
	margin-top: 30px;
	border-radius: 25px;
}

.undoBtn {
	background-color: #000921;
	color: rgb(245, 59, 229);
	border: 1px solid #04CCFF;
	margin: 5px;
	padding: 5px;
	margin-top: 10px;
	width: 90px;
  border-radius: 25px;
  font-family: 'Press Start 2P', cursive;
}

.undoBtn:hover {
	color: #04CCFF;
	border: 1px solid #04CCFF;;
	border-radius: 25px;
}

.undoBtn:disabled {
	cursor: default;
  background-color: gray;
  color: white;
	border-radius: 25px;
}

.undoBtn:disabled:hover {
	color: white;
	border: 1px solid #04CCFF;
	border-radius: 25px;
}

.undoBtnArea {
	text-align: right;
	top: 1;
	right: 0;
	z-index: 100;
	border-radius: 25px;
}

.testCode {
  margin-top: 75px;
  margin-left: 200px;
  width: 200px;
  height: 100px;
  position: relative;
  top: -140px;
  left: 500px;
  font-family: 'Press Start 2P', cursive;
}

.footer {
  margin-top: 50px;  
  border: 1px solid black;
  float: left;
  width:99%;
  height: 10%;
  clear: both;
  margin-top: 900px;
}



.background-image {
    background: url('/login_background.gif');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }