/* Battle Arena Page Styling */
.baleft {
    width: 30%;
    margin-top: 5%;
    text-align: center;
    padding-left: 20px;
}

.baleft h6 {
    margin-top: 50px;
}

.bamiddle {
    width: 40%;
    text-align: center;
    margin-top: 5%;
}

.bamiddle select {
    margin-left: auto;
    margin-right: auto;
}

.baright {
	width: 29%;
    margin-left: 10px;
    margin-top: 5%;
}

/* Search Player List Styling */
.searchPlayersList {
	margin-top: 20px;
}

.searchPlayerListItem {
	display: list-item;
}

.searchPlayersList ul {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	text-align: center;
	overflow: hidden;
	overflow-y: scroll;
	list-style-type: none;
}

.searchPlayers {
    text-align: center;
}

/* Replay Table Styling */
.replayList {
    font-size: 15px;
    text-align: center;
}

.replayTable table {
    width: 100%;
}

.replayTable thead, tbody {
    display: block;
}

.replayTable tbody {
    height: 150px;
    overflow-y: auto;
    overflow-x: auto;
}

.replayTable h4 {
    text-align: center;
}

.replayTable th {
    padding: 10px;
    width: 20%;
    text-align: center;
}

.replayTable td {
    padding: 10px;
    width: 20%;
    border-left: none;
    border-right: none;
    border-top: 1px solid #04CCFF;
    border-bottom: 1px solid #04CCFF;
}