/* Login/Signup Page Styling */
.loginleft {
	width: 30%;
	padding-left: 2%;
	margin-top: 13%;
}

.loginright {
	width: 30%;
	padding-right: 2%;
	text-align: center;
	margin-top: 20%;
}

.loginmiddle {
	width: 40%;
	text-align: center;
	border-right: #04CCFF;
	border-left: #04CCFF;
}

.loginmiddle h1 {
	color: #04CCFF;
	text-shadow:
		-2px -2px 0 #04213F,
		2px -2px 0 #04213F,
		-2px 2px 0 #04213F,
		2px 2px 0 #04213F;
	margin-top: 40%;
}

.fixedHeight {
	height: 60px;
}

.confirmPage {
	text-align: center;
}
