/* Login/Signup Page Styling */
.loginleft {
	width: 30%;
	padding-left: 2%;
	margin-top: 15%;
}

.loginright {
	width: 30%;
	padding-right: 2%;
	text-align: center;
	margin-top: 20%;
}

.loginmiddle {
	width: 40%;
	text-align: center;
}

.loginmiddle h1 {
	margin-top: 40%;
}

.fixedHeight {
	height: 60px;
}
