/* Armory Page Styling */
.armoryleft {
    width: 30%;
    margin-top: 5%;
    padding-left: 15px;
}

.font {
  color: 'white';
  text-shadow: '-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black';
  font-family: 'Press Start 2P', cursive;
}

.rowPadding {
    padding-left: 15px;
}

.armorymiddle {
    width: 40%;
    text-align: center;
    margin-top: 5%;
}

.armorymiddle h6 {
    padding-top: 450px;
}

.armoryright {
    width: 30%;
    margin-top: 5%;
    padding-right: 10px;
}

/* Component Menu Styling */
.componentMenu table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.componentMenu thead {
    display: table-header-group;
}

.componentMenu tbody {
    display: table-row-group;
    height: 200px;
    overflow-y: auto;
}

.componentMenu th {
    padding: 8px;
}

.componentMenu td {
    padding: 8px;
    border-right: 1px solid #04CCFF;
    border-left: 1px solid #04CCFF;
}

.componentMenuBtn {
    border: none;
    background: none;
    background-color: #012074;
    border-radius: 5px;
    color: #aa00ff;
}

.selectedComponent {
    border: 0.2em solid #aa00ff;
    color: #aa00ff;
}

.componentMenuBtn:hover {
    color: #7200ac;
}

.componentMenuBtn:disabled {
    color: gray;
}

.componentMenuBtn:disabled:hover {
    color: gray;
    cursor: default;
}

/* Tank List Styling */
.selectedTank {
  border: 0.2em solid #0062ff;
  color: green;
}

.tankList {
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
}

.tankListBtn {

    color: #ff47ff;
    border: none;
    background: none;
    background-color: #012074;
    border: 4px solid #1969e5;
}

.removeTankBtn {
    color: rgb(194, 0, 0);
    border: none;
    background: none;
}

.removeTankBtn:hover {
    color: rgb(124, 0, 0);
    border: none;
    background: none;
}



.tankList h6 {
    margin-top: 10px;
}

.tankListBtn:hover {
    color: #003fa5;
}

/* Popup Styling */
.wagerPopup {
    text-align: left;
}

.deletePopup {
    text-align: left;
}

.wagerTank {
    color: #0062ff;
}

.wagerTank label {
    color: #04CCFF;
}

.background-image-armory {
    background: url('/armory_image_revised.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }