.battlegroundCanvas {
	background-color: #fafafa;
	width: 1300px;

}

.battlegroundCanvasDiv {
	width: 80%;	
	display: inline-block;

}
.background-image {
	background: url('/login_background.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: absolute;

}