/* Armory Page Styling */
.armoryleft {
    width: 30%;
    margin-top: 5%;
    padding-left: 30px;
}

.armorymiddle {
    width: 40%;
    text-align: center;
    margin-top: 5%;
}

.armorymiddle h6 {
    padding-top: 450px;
}

.armoryright {
    width: 30%;
    margin-top: 5%;
    padding-right: 10px;
}

.tankComponentMenu {
	width: 30%;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 4px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
	display: inline;
}

.componentMenu table {
    margin-left: auto;
    margin-right: auto;
}

.componentMenu th, td {
    padding: 8px;
    border-right: 1px solid #04CCFF;
    border-left: 1px solid #04CCFF;
}

.componentMenuBtn {
    border: none;
    background: none;
    color: #aa00ff;
}

.selectedComponent {
    border: 0.2em solid #aa00ff;
    color: #aa00ff;
}

.componentMenuBtn:hover {
    color: #7200ac;
}

.componentMenuBtn:disabled {
    color: gray;
}

.componentMenuBtn:disabled:hover {
    color: gray;
    cursor: default;
}

.tankList {
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}

.tankListBtn {
    color: #0062ff;
    border: none;
    background: none;
}

.selectedTank {
    border: 0.2em solid #0062ff;
    color: #0062ff;
}

.tankList h6 {
    margin-top: 10px;
}

.tankListBtn:hover {
    color: #003fa5;
}

.wagerPopup {
    text-align: center;
}

.deletePopup {
    text-align: center;
}

.wagerTank {
    color: #0062ff;
}

.wagerTank label {
    color: #04CCFF;
}