/* Battle Arena Page Styling */
.challenge {
    width: 30%;
    margin-top: 5%;
    text-align: center;
    padding-left: 20px;

}

.baleft h6 {
    margin-top: 50px;

}

.battletype {
    width: 40%;
    text-align: center;
    margin-top: 5%;


}

.bamiddle select {
    margin-left: auto;
    margin-right: auto;

}

.info {
	width: 29%;
    margin-left: 10px;
    margin-top: 5%;

}

/* Search Player List Styling */
.searchPlayersList {
	margin-top: 20px;
}

.searchPlayerListItem {
	display: list-item;
}

.searchPlayersList ul {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	text-align: center;
	overflow: hidden;
	overflow-y: auto;
	list-style-type: none;
}

.searchPlayers {
    text-align: center;
}

/* Replay Table Styling */
.replayTable {
    font-size: 15px;
    text-align: center;
}

.replayTable table {
    width: 80%;
    border: 4px solid black;
    background-color: #04213F;
}

.replayTable thead {
    display: block;
    width: 100%;

}

.replayTable tbody {
    width: 100%;
    display: block;
    height: 200px;
    overflow-y: auto;
    overflow-x: auto;

}

.replayTable h4 {
    text-align: center;
    border: 4px solid black;
    background-color: #04213F;


}

.replayTable th {
    padding: 12px;
    text-align: center;
    width: 16%;
}

.replayTable td {
    width: 16%;
    padding: 7px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #04CCFF;
    border-bottom: 1px solid #04CCFF;
}

/* Tank Display Styling */
.threeTankDisplay {
    text-align: center;


}

.threeTankDisplay thead, tbody {
    display: inline-block;


}

.threeTankDisplay th {
    width: 150px;

}

.threeTankDisplay td {
    width: 33%;


}

.emptyTankSmall {
    width: 150px;
    height: 150px;


}

.emptyTankBig {
    width: 300px;
    height: 300px;
}

.background-image {
	background: url('/login_background.gif');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }