/* Battle Arena Page Styling */
.challenge {
    width: 30%;
    margin-top: 5%;
    text-align: center;
    padding-left: 20px;

}

.baleft h6 {
    margin-top: 50px;

}

.battletype {
    width: 40%;
    text-align: center;
    margin-top: 5%;


}

.bamiddle select {
    margin-left: auto;
    margin-right: auto;

}

.info {
    width: 29%;
    margin-left: 10px;
    margin-top: 5%;

}

/* Search Player List Styling */
.searchPlayersList {
    margin-top: 10px;
}

.inputText_battleArena {
    padding-left: 5px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
}

.searchPlayerListItem {
    display: list-item;

    color: #ff47ff;
}

.searchPlayersList ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    list-style-type: none;
}

.searchPlayers {
    text-align: center;

    margin-top: 10px;
}

/* Replay Table Styling */
.replayTable {
    font-size: 15px;
    text-align: center;
    width: fit-content;
}

.replayTable table {
    width: 80%;
    background-color: rgba(0,0,0,.5);
    border: 4px solid #1969e5;
}



.replayTable thead {
    display: block;
    width: 100%;

}

.replayTable tbody {
    width: 100%;
    display: block;
    height: 200px;
    overflow-y: auto;
    overflow-x: auto;

}

.replayTable h4 {
    text-align: center;
    background-color: #012074;
    border: 4px solid #1969e5;


}

.replayTable th {
    padding: 12px;
    text-align: center;
    width: 16%;
}

.replayTable td {
    width: 16%;
    padding: 7px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #04CCFF;
    border-bottom: 1px solid #04CCFF;
}

.replayTable #opponent {
    color: #04CCFF;
    width: fit-content;
}

.replayTable #result {
    color: #ff47ff;
    width: fit-content;
}
.replayTable #replay {
    font-size: x-small;

}

.replayTable #prize {
    color: #ff47ff;
    width: fit-content;
}

.replayTable #elo {
    color: #ff47ff;
    width: fit-content;
}

.replayTable #type {
    color: #20ffff;
    width: fit-content;
}

/* Tank Display Styling */
.threeTankDisplay {
    text-align: center;


}

.threeTankDisplay thead, tbody {
    display: inline-block;


}

.threeTankDisplay th {
    width: 150px;

}

.threeTankDisplay td {
    width: 33%;


}

.emptyTankSmall {
    width: 150px;
    height: 150px;


}

.emptyTankBig {
    width: 300px;
    height: 300px;
}

.background-image {
    background: url('/login_background.gif');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* prevents header from collapsing when resizing*/
.h4{
    min-width: 455px;
    max-width: 140%;
}

.wager_info {
    margin-top: 170px;
}

.quickplay {
    margin-top: 72px;
}

.popup_quickplay{
    color: #ff47ff;
    font-family: 'Press Start 2P', cursive;
    padding: 20px 20px 20px 20px;
    background-color: #00103a;
}

.correctColor {
    color: #ff47ff;
}