.marketBtn {
	color: #04213F;
	background-color: #04CCFF;
	border: 1px solid #000921;
	padding: 7px 7px 7px 7px;
}

.marketBtn:hover {
	color: #04CCFF;
	background-color: #04213F;
	border: 1px solid #04CCFF;
}

.list-group h4 {
	margin-left: 5%;
}

.card {
	background-color: #3E5A6F;
}

.masterCard {
	background-color: #04213F;
	color: #04CCFF;
}

.btn btn-success mt-2 {
	width: "100px";
	height: "100px";
}