.styleForRow {
    margin-top:20px;
}

body {
    background-color: #000921;
    color: #04CCFF;
}

/* Login/Signup Page Styling */
.column {
    float: left;
    font-family: "Lucida Console";
}

.left {
    width: 25%;
    margin-top: 275px;
    padding-left: 20px;
    text-align: justify;
}

.right {
    width: 25%;
    margin-top: 375px;
    padding-right: 5px;
    text-align: center;
}

.middle {
    width: 50%;
    text-align: center;
    margin-top: 350px;
}

/* Navbar Styling */
.navbar {
    background-color: #3E5A6F;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
}

.navbtn:hover {
    background-color: #000921;
}

.navleft {
    width: 25%;
}

.navmiddle {
    text-align: center;
    width: 50%;
}

.navright {
    text-align: right;
    width: 25%;
}

.navbtn {
    color: #04CCFF;
    background: #3E5A6F;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: auto;
}

.navbtn:hover {
	color: #3E5A6F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
}

/* Button Styling */
.btn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 175px;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
    color: #04CCFF;
    border: none;
    background: none;
}

.clearbtn:hover {
    color: #39a9dd;
}

.nobtn {
    display: none;
}

/* Popup Styling */
.popup {
    padding: 5px 50px 20px 50px;
    background-color: #04213F;
}

.popupbtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
}

.popupbtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.closebtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    margin-left: 40px;
}

.closebtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}
  
.popupbtn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 150%;
}

/* Leaderboard Styling */
.leaderboard {
	padding-left: 10px;
	margin-right: auto;
	background-color: #04213F;
	border: 5px solid black;
	border-radius: 8px;
}