.styleForRow {
 	margin-top:20px;
}

body {
   	background-color: #000921;
	color: #04CCFF;
}

/* Search Player List Styling */
.searchPlayersList {
	margin-top: 20px;
}

.searchPlayerListItem {
    	display: list-item;
}

.searchPlayersList ul {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	text-align: center;
	overflow:hidden;
	overflow-y: scroll;
	list-style-type: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #04CCFF;
}

::-webkit-scrollbar-thumb:hover {
	background: #39a9dd;
}

.searchPlayers button {
	margin-top: 10px;
}

/* Canvas Styling */
.tankCanvas {
	margin-top: 20px;
}

/* Input Styling */
.inputText {
	margin-top: 10px;
	padding-left: 5px;
	width: 75%;
	border-radius: 4px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
}

::placeholder {
	color: #04213F;
	opacity: 0.75;
}

/* Dropdown Menu Styling */
.dropdownMenu {
	cursor: pointer;
	width: 80%;
	padding: 10px 10px 10px 10px;
	border-radius: 2px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
}

.tankComponentMenu {
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	border-radius: 4px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
	display: inline;
}

/* Column Styling */
.column {
	float: left;
	font-family: "Lucida Console";
}

/* Navbar Styling */
.navbar {
	background-color: #3E5A6F;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: 5px 10px 5px 10px;
}

.navbtn:hover {
	background-color: #000921;
}

.navleft {
	width: 25%;
}

.navmiddle {
	text-align: center;
	width: 50%;
}

.navright {
	text-align: right;
	width: 25%;
}

.navbtn {
	color: #04CCFF;
	background: #3E5A6F;
	border: 2px solid #04CCFF;
	border-radius: 8px;
	width: auto;
}

.navbtn:hover {
	color: #3E5A6F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
}

/* Popup Styling */
.popup {
	padding: 5px 50px 20px 50px;
	background-color: #04213F;
}

.popup p {
	text-align: left;
}

.popup h3 {
	text-align: center;
}

.popup label {
	margin-top: 20px;
}

.popup input {
	margin-top: 0px;
}

.popupbtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
	border-radius: 8px;
	margin-top: 20px;
}

.disabled {
    color: #04CCFF;
	background: #04213F;
    border: 2px solid #04CCFF;
}

.disabled:hover {
    cursor: default;
}

.popupbtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.closebtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

.closebtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.cancelbtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 8px;
	margin-left: 50px;
	margin-top: 20px;
}

.cancelbtn:hover {
  color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

/* Leaderboard Styling */
.leaderboard {
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50%;
	background-color: #04213F;
	border: 4px solid black;
	border-radius: 8px;
}

/* Button Styling */

.btn {
  color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 8px;
	width: 175px;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
	color: #04CCFF;
	border: none;
	background: none;
}

.clearbtn:hover {
	color: #39a9dd;
}

.primarybtn {
	position: relative;
	background: none;
	color: #04CCFF;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.2em solid #04CCFF;
	padding: 0.5em 1em;
}

.primarybtn::before {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	right: 20%;
	top: -0.21em;
	transform: skewX(-45deg);
	-webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.primarybtn::after {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	left: 20%;
	bottom: -0.25em;
	transform: skewX(45deg);
	-webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.primarybtn:hover::before {
	right: 80%;
}

.primarybtn:hover::after {
	left: 80%;
}


.secondarybtn {
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #007bff;
	border: solid transparent;
}

.secondarybtn:disabled,
.secondarybtn[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

/*Select Styling*/
select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
