.styleForRow {
	margin-top:20px;
}

body {
	background-image: linear-gradient(to right, #04213F, #000921, #000921, #04213F);
	color: #04CCFF; 
	height:100%;
}

.haveScorebarIfSmall {
	min-width: 1530px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #04CCFF;
}

::-webkit-scrollbar-thumb:hover {
	background: #39a9dd;
}

.searchPlayers button {
	margin-top: 10px;
}

/* Canvas Styling */
.tankCanvas {
	margin-top: 20px;
}

/* Input Styling */
.inputText {
	padding-left: 5px;
	width: 100%;
	border-radius: 4px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
}

::placeholder {
	color: #04213F;
	opacity: 0.75;
}

/* Dropdown Menu Styling */
.dropdownMenu {
	cursor: pointer;
	width: 100%;
	padding: 7px 7px 7px 7px;
	border-radius: 2px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
}

/* Column Styling */
.column {
	float: left;
	font-family: "Lucida Console";
}

/* Navbar Styling */
.navbar {
	background-color: #3E5A6F;
	border-bottom: 3px solid #04213F;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: 5px 10px 5px 10px;
}

.navbtn:hover {
	background-color: #000921;
}

.navleft {
	width: 25%;
	display: block;
}

.navmiddle {
	text-align: center;
	width: 50%;
}

.navright {
	text-align: right;
	width: 25%;
}

.navbtn {
	color: #04CCFF;
	background: #3E5A6F;
	border: 2px solid #04CCFF;
	border-radius: 8px;
	width: auto;
}

.navbtn:hover {
	color: #3E5A6F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
}

/* Popup Styling */
.popup {
	padding: 5px 50px 20px 50px;
	background-color: #04213F;
}

.popup p {
	text-align: left;
}

.popup h3 {
	text-align: center;
}

.popup h2 {
	margin-bottom: 4%;
}

.popup label {
	margin-top: 20px;
}

.popup input {
	margin-top: 0px;
}

.popupbtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	margin-top: 20px;
}

.popupbtn:disabled {
	color: #04CCFF;
	background: #999999;
	border: 2px solid #04CCFF;
}

.popupbtn:disabled:hover {
	cursor: default;
	background: #999999;
}

.popupbtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.closebtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.closebtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.cancelbtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	margin-left: 50px;
	margin-top: 20px;
}

.cancelbtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

/* Leaderboard Styling */
.leaderboard {
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #04213F;
	border: 4px solid black;
	border-radius: 8px;
	width: 280px;
}

.leaderboard td {
	border-left: none;
	border-right: none;
	padding: 5px 25px 0px 0px;
}

/* Button Styling */

.btn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 8px;
	width: 175px;
}

.btn:disabled {
	background-color: #999999;
	border: 2px solid #000921
}

.btn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
	border: 2px solid #000921;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.smallbtn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	width: 100px; 
}

.smallbtn:disabled {
	background-color: #999999;
}

.smallbtn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
}

.smallbtn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.reallySmallBtn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	width: 60px; 
}

.reallySmallBtn:disabled {
	background-color: #999999;
}

.reallySmallBtn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
}

.reallySmallBtn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
	color: #04CCFF;
	border: none;
	background: none;
}

.clearbtn:hover {
	color: #39a9dd;
}

.primarybtn {
	position: relative;
	background: none;
	color: #04CCFF;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.2em solid #04CCFF;
	padding: 0.5em 1em;
}

.primarybtn::before {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	right: 20%;
	top: -0.21em;
	transform: skewX(-45deg);
	-webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.primarybtn::after {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	left: 20%;
	bottom: -0.25em;
	transform: skewX(45deg);
	-webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.primarybtn:hover::before {
	right: 80%;
}

.primarybtn:hover::after {
	left: 80%;
}

/*Select Styling*/
select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* Miscellaneous. */
.inline {
	display: inline-block;
}

.name {
	color: #a80b4b;
}
.helpLink {
	cursor: pointer;
}
.vcenter{
	margin-top: 15%;
}