.styleForRow {
    margin-top:20px;
}

body {
    background-color: #000921;
    color: #04CCFF;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Login/Signup Page Styling */
.loginleft {
    width: 25%;
    margin-top: 275px;
    padding-left: 20px;
    text-align: justify;
}

.loginright {
    width: 25%;
    margin-top: 375px;
    padding-right: 5px;
    text-align: center;
}

.loginmiddle {
    width: 50%;
    text-align: center;
    margin-top: 350px;
}

/* Main Menu Page Styling */
.menuleft {
    width: 25%;
    margin-top: 250px;
    padding-left: 20px;
    text-align: center;
}

.menuright {
    width: 25%;
    margin-top: 250px;
    padding-right: 5px;
    text-align: center;
}

.menumiddle {
    width: 50%;
    margin-top: 250px;
    text-align: center;
}

.menuheader {
    text-align: center;
    padding-top: 90px;
}

/* Battle Arena Page Styling */
.baleft {
    width: 36%;
    margin: 150px 0px 0px 0px;
    text-align: center;
}

.baleft h6 {
    margin-top: 50px;
}

.bamiddle {
    width: 28%;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.baright {
    width: 29%;
    margin: 150px 0px 0px 80px;
}

/* Armory Page Styling */
.armoryleft {
    width: 30%;
    padding-left: 20px;
}

.armoryleft h6 {
    margin-top: 50px;
}

.armoryleft h3 {
    margin-top: 150px;
}

.armorymiddle {
    width: 40%;
    text-align: center;
}

.armorymiddle h6 {
    padding-top: 450px;
}

.armorymiddle h1 {
    margin-top: 150px;
}

.armoryright {
    width: 30%;
    margin-top: 150px;
    padding-right: 10px;
}

.armoryright h6 {
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Training Arena Styling */
.taleft {
    width: 30%;
    margin-top: 150px;
    padding-left: 20px;
    text-align: center;
}

.taleft select {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.tamiddle {
    width: 40%;
    margin-top: 150px;
    text-align: center;
}

.tamiddle select {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.tamiddle button {
    margin-top: 500px;
}

.taright {
    width: 30%;
    margin-top: 150px;
    padding-right: 20px;
    text-align: center;
}

.taright select {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* Search Player List Styling */
.searchPlayersList {
    margin-top: 20px;
}

.searchPlayerListItem {
    display: list-item;
}

.searchPlayersList ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    text-align: center;
    overflow:hidden;
    overflow-y: scroll;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #04CCFF;
}

::-webkit-scrollbar-thumb:hover {
    background: #39a9dd;
}

.searchPlayers button {
    margin-top: 10px;
}

/* Canvas Styling */
.tankCanvas {
    margin-top: 20px;
}

/* Input Styling */
.inputText {
    margin-top: 10px;
    padding-left: 5px;
    width: 75%;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
}

::placeholder {
    color: #04213F;
    opacity: 0.75;
}

/* Dropdown Menu Styling */
.dropdownMenu {
    cursor: pointer;
    width: 90%;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
}

.tankComponentMenu {
    width: 30%;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
    display: inline;
}

/* Column Styling */
.column {
    float: left;
    font-family: "Lucida Console";
}

/* Navbar Styling */
.navbar {
    background-color: #3E5A6F;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
}

.navbtn:hover {
    background-color: #000921;
}

.navleft {
    width: 25%;
}

.navmiddle {
    text-align: center;
    width: 50%;
}

.navright {
    text-align: right;
    width: 25%;
}

.navbtn {
    color: #04CCFF;
    background: #3E5A6F;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: auto;
}

.navbtn:hover {
	color: #3E5A6F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
}



/* Popup Styling */
.popup {
    padding: 5px 50px 20px 50px;
    background-color: #04213F;
}

.popupbtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
}

.popupbtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.closebtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    margin-left: 50px;
}

.closebtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}
  
.popupbtn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 150%;
}

/* Leaderboard Styling */
.leaderboard {
	padding-left: 10px;
    margin-right: auto;
	background-color: #04213F;
	border: 5px solid black;
	border-radius: 8px;
}

/* Button Styling */

.btn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 175px;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
    color: #04CCFF;
    border: none;
    background: none;
}

.clearbtn:hover {
    color: #39a9dd;
}

.primarybtn{
    position: relative;
    background: none;
    color: aqua;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid aqua;
    padding: 0.5em 1em;
}
.primarybtn::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
.primarybtn::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
.primarybtn:hover::before {
    right: 80%;
}
.primarybtn:hover::after {
    left: 80%;
}


.secondarybtn{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: solid transparent;
}

.secondarybtn:disabled,
.secondarybtn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/*Select Styling*/

select{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
