.styleForRow {
    margin-top:20px;
}

body {
    background-color: #000921;
    color: #04CCFF;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Login/Signup Page Styling */
.loginleft {
    width: 25%;
    margin-top: 275px;
    padding-left: 20px;
    text-align: justify;
}

.loginright {
    width: 25%;
    margin-top: 375px;
    padding-right: 5px;
    text-align: center;
}

.loginmiddle {
    width: 50%;
    text-align: center;
    margin-top: 350px;
}

/* Main Menu Page Styling */
.menuleft {
    width: 25%;
    margin-top: 250px;
    padding-left: 20px;
    text-align: center;
}

.menuright {
    width: 25%;
    margin-top: 250px;
    padding-right: 5px;
    text-align: center;
}

.menumiddle {
    width: 50%;
    margin-top: 250px;
    text-align: center;
}

.menuheader {
    text-align: center;
    padding-top: 90px;
}

/* Battle Arena Page Styling */
.baleft {
    width: 36%;
    margin: 150px 0px 0px 0px;
    text-align: center;
}

.baleft h6 {
    margin-top: 50px;
}

.bamiddle {
    width: 28%;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.baright {
    width: 29%;
    margin: 150px 0px 0px 80px;
}

/* Armory Page Styling */
.armoryleft {
    width: 30%;
    padding-left: 20px;
}

.armoryleft h6 {
    margin-top: 50px;
}

.armoryleft h3 {
    margin-top: 150px;
}

.armorymiddle {
    width: 40%;
    text-align: center;
}

.armorymiddle h6 {
    padding-top: 450px;
}

.armorymiddle h1 {
    margin-top: 150px;
}

.armoryright {
    width: 30%;
    margin-top: 150px;
    padding-right: 20px;
}

/* Input Styling */
.inputText {
    margin-top: 10px;
    padding-left: 5px;
    width: 75%;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
}

::placeholder {
    color: #04213F;
    opacity: 0.75;
}

/* Dropdown Menu Styling */
.dropdownMenu {
    cursor: pointer;
    width: 90%;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
}

.tankComponentMenu {
    cursor: pointer;
    width: 30%;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    border-radius: 4px;
    border-color: #04CCFF;
    background-color: #04CCFF;
    color: #000921;
}

/* Column Styling */
.column {
    float: left;
    font-family: "Lucida Console";
}

/* Navbar Styling */
.navbar {
    background-color: #3E5A6F;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
}

.navbtn:hover {
    background-color: #000921;
}

.navleft {
    width: 25%;
}

.navmiddle {
    text-align: center;
    width: 50%;
}

.navright {
    text-align: right;
    width: 25%;
}

.navbtn {
    color: #04CCFF;
    background: #3E5A6F;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: auto;
}

.navbtn:hover {
	color: #3E5A6F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
}

/* Button Styling */
.btn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 175px;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
    color: #04CCFF;
    border: none;
    background: none;
}

.clearbtn:hover {
    color: #39a9dd;
}

.nobtn {
    display: none;
}

/* Popup Styling */
.popup {
    padding: 5px 50px 20px 50px;
    background-color: #04213F;
}

.popupbtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
}

.popupbtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.closebtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    margin-left: 50px;
}

.closebtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}
  
.popupbtn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 150%;
}

/* Leaderboard Styling */
.leaderboard {
	padding-left: 10px;
    margin-right: auto;
	background-color: #04213F;
	border: 5px solid black;
	border-radius: 8px;
}