/* Login/Signup Page Styling */
.loginleft {
	width: 30%;
	padding-left: 2%;
	margin-top: 13%;
}

.loginright {
	width: 30%;
	padding-right: 2%;
	text-align: center;
	margin-top: 20%;
}

.loginmiddle {
	width: 40%;
	text-align: center;
	border-right: #04CCFF;
  border-left: #04CCFF;
  border-color: black;
}

.loginmiddle h1 {
	color: white;
	text-shadow:
		-2px -2px 0 #04213F,
		2px -2px 0 #04213F,
		-2px 2px 0 #04213F,
		2px 2px 0 #04213F;
	margin-top: 40%;
}

.loginmiddle h6 {
  border-color: black;
}

.fixedHeight {
	height: 60px;
}

.confirmPage {
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

body {
	color: #04CCFF; 
  height: 100%;
  width: 100%;
  background-image: url('/login_background.gif');
}