/* Login/Signup Page Styling */
.loginleft {
	width: 30%;
	padding-left: 2%;
	margin-top: 20%;
}

.loginright {
	width: 30%;
	padding-right: 2%;
	text-align: center;
	margin-top: 21.25%;
}

.loginmiddle {
	width: 40%;
	text-align: center;
	border-right: #04CCFF;
  border-left: #04CCFF;
  border-color: black;

}

.loginmiddle #DOBlabel{
	text-align: left;
}

.loginmiddle h1 {
	color: white;
	text-shadow:
		-2px -2px 0 #04213F,
		2px -2px 0 #04213F,
		-2px 2px 0 #04213F,
		2px 2px 0 #04213F;
	margin-top: 25%;
}

.loginmiddle h6 {
  border-color: black;
}

.loginbtn {
	position: relative;
	background: none;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.2em solid #FFFFFF;
  padding: 0.5em 1em;
  font-family: 'Press Start 2P', cursive;
}

.loginbtn::before {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	right: 20%;
	top: -0.21em;
	transform: skewX(-45deg);
	-webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.loginbtn::after {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	left: 20%;
	bottom: -0.25em;
	transform: skewX(45deg);
	-webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.loginbtn:hover::before {
	right: 80%;
}

.loginbtn:hover::after {
	left: 80%;
}

.middlecolumn {
	display: inline-block;
}

.logintext {
	color: #ffffff;
	text-shadow:
		-2px -2px 0 #04213F,
		2px -2px 0 #04213F,
		-2px 2px 0 #04213F,
		2px 2px 0 #04213F;
}

.infotext {
	/*color: #20ffff;*/
	color: #ffffff;
	text-shadow:
		-2px -2px 0 #04213F,
		2px -2px 0 #04213F,
		-2px 2px 0 #04213F,
		2px 2px 0 #04213F;
}

.fixedHeight {
	height: 60px;
}

.confirmPage {
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

/* age verification input boxes*/
.input-group input#day {
    width: 3em;
    margin-right: 15px
}

.input-group input#month {
    width: 5em;
    margin-right: 15px
}

.input-group input#year {
    width: 5em;
}

body {
	color: #04CCFF;
  height: 100%;
  width: 100%;
}

.background-image {
    background: url('/login_background.gif');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }