/* Main Menu Page Styling */
.menuleft {
    width: 25%;
    margin-top: 10%;
    padding-left: 20px;
    text-align: center;
}

.menuright {
    width: 25%;
    margin-top: 10%;
    padding-right: 5px;
    text-align: center;
}

.menumiddle {
    width: 50%;
    margin-top: 10%;
    text-align: center;
}

.menuheader {
    text-align: center;
    padding-top: 70px;
}

.mainMenuBtn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    font-size: 20px;
}

.mainMenuBtn:disabled {
	background-color: #999999;
	border: 2px solid #000921
}

.mainMenuBtn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
	border: 2px solid #000921;
}

.mainMenuBtn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}