/* Main Menu Page Styling */
.menuleft {
    width: 25%;
    margin-top: 10%;
    padding-left: 20px;
    text-align: center;
}

.menuright {
    width: 25%;
    margin-top: 10%;
    padding-right: 5px;
    text-align: center;
}

.menumiddle {
    width: 50%;
    margin-top: 10%;
    text-align: center;
}

.menuheader {
    text-align: center;
    padding-top: 70px;
}
