.styleForRow {
    margin-top:20px;
}

body, html {
    color: #04CCFF;
    background: #000921;
}

/* Navbar Styling */
.topnav {
    background-color: #3E5A6F;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
}

.navbtn {
    background-color: #3E5A6F;
    color: #04CCFF;
    float: left;
    border: 2px solid #04CCFF;
    border-radius: 8px;
}

.navbtn:hover {
    background-color: #000921;
}

.navleft {
    width: 25%;
}

.navmiddle {
    text-align: center;
    width: 50%;
}

.navright {
    text-align: right;
    width: 25%;
}


/* Button Styling */
.btn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 175px;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
    color: #04CCFF;
    border: none;
    background: none;
}

.clearbtn:hover {
    color: #39a9dd;
}


/* Popup Styling */
.popup {
    padding: 5px 50px 20px 50px;
    background-color: #04213F;
}

.popupbtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
}

.popupbtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.closebtn {
    color: #04213F;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    margin-left: 20px;
}

<<<<<<< HEAD
.closebtn:hover {
    color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}
=======
/* Leaderboard */
.leaderboard {
	padding-left: 10px;
	margin-right: auto;
	background-color: #04213F;
	border: 5px solid black;
	border-radius: 8px;
}
>>>>>>> f38838e5f83995f1392f29f64cdc1e976b728759
