.styleForRow {
    margin-top:20px;
}

body, html {
    color: #04CCFF;
    background: #000921;
}

h1 {
    padding: 5px 5px 5px 5px;
}


/* Column Styling */
.column {
    float: left;
    font-family: "Lucida Console";
}

.left {
    width: 25%;
    margin-top: 275px;
    padding-left: 20px;
    text-align: justify;
}

.right {
    width: 25%;
    margin-top: 375px;
    text-align: center;
}

.middle {
    width: 50%;
    text-align: center;
    margin-top: 350px;
}


/* Button Styling */
.btn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 175px;
}

.btn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
    color: #04CCFF;
    border: none;
    background: none;
}

.clearbtn:hover {
    color: #39a9dd;
}

.popupbtn {
    color: #000921;
    background: #04CCFF;
    border: 2px solid #04CCFF;
    border-radius: 8px;
    width: 150%;
}


/* Popup Styling */
.popup {
    padding: 5px 50px 20px 50px;
    background: #04213F;
}

/* Leaderboard */
.leaderboard {
	padding-left: 10px;
	margin-right: auto;
	background-color: #04213F;
	border: 5px solid black;
	border-radius: 8px;
}
