.styleForRow {
	margin-top:20px;
}

.divider{
  width: 100px;
  height:auto;
  display:inline-block;
}

.divider-top {
  height: 40px;
  width:auto;
  display:inline-block;
}

body {
	color: #04CCFF;
  height: 100%;
  width: 100%;
  /* background-image: url('/login_background.gif'); */
  /* background-repeat:round; */
  /* box-shadow: 0 0 8px 8px #04CCFF inset; */
}
 h6,h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
 }

 description {
	 background-color: #012074;
	 border: 4px solid #1969e5;
 }

/* login leaderboard */
.loginleader{

	font-family: 'Press Start 2P', cursive;
	/*color: #007efc;*/
	padding: 10px;
	background-color: rgba(0,0,0,.5);
	border: 4px solid #1969e5;
	/*border-radius: 8px;*/
	width: 335px;
}

/* Leaderboard table*/
.loginleader td {
	border-left: none;
	border-right: none;
	padding: 5px 25px 0px 0px;
}

.loginleader #index {
	color: #04CCFF;
}

.loginleader #elo {
	color: #04CCFF;
}

.loginleader #name {
	color: #ff47ff;
}

.loginleader #title {
	color: white;
}

.haveScorebarIfSmall {
	min-width: 1530px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #04CCFF;
}

::-webkit-scrollbar-thumb:hover {
	background: #39a9dd;
}

.searchPlayers button {
	margin-top: 10px;
}

/* Canvas Styling */
.tankCanvas {
	margin-top: 20px;
}

/* Input Styling */
.inputText {
	position: relative;
	display: block;
	margin: 0 auto;
	padding-left: 5px;
	width: 70%;
	border-radius: 4px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
	text-align: center;
}

::placeholder {
	color: #04213F;
	opacity: 0.75;
}

/* Dropdown Menu Styling */
.dropdownMenu {
	cursor: pointer;
	width: 100%;
	padding: 7px 7px 7px 7px;
	border-radius: 2px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
	text-align-last: center;
	text-align: center;
	-ms-text-align-last: center;
	-moz-text-align-last: center;
}

.dropdownMenu option {
	cursor: pointer;
	width: 30%;
	padding: 7px 7px 7px 7px;
	border-radius: 2px;
	border-color: #04CCFF;
	background-color: #04CCFF;
	color: #000921;
}

/* Column Styling */
.column {
	float: left;
	font-family: "Lucida Console";
}

/* Navbar Styling */
.navbar {
	color: white/*#04CCFF*/;
	font-family: "Press Start 2P";
	background-color: "transparent";
	/*border-bottom: 3px solid #04213F;*/
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: 5px 10px 5px 10px;
}

.navbtn:hover {
	background-color: #000921;
}

.navleft {
	width: 25%;
	display: block;
}

.navmiddle {
	text-align: center;
	width: 50%;
}

.navright {
	text-align: right;
	width: 25%;
}

.navbtn {
	color: #ff47ff/*#04CCFF*/;
	background: black;
	border: 2px solid #ff47ff;
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 10px;
	width: auto;
}

.navbtn:hover {
	color: black;
	background: #ff47ff;
	border: 2px solid #ff47ff;
}

.navhelp {
	text-align: right;
	width: 25%;
	margin-left: 80%;

}

/* Popup Styling */
.popup {
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	padding: 20px 20px 20px 20px;
	background-color: #00103a;
}
.popup-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.popup p {
	text-align: left;
}

.popup h3 {
	text-align: center;
}

.popup h2 {
	margin-bottom: 4%;
}

.popup label {
	margin-top: 20px;
}

.popup input {

	margin-top: 0px;
}

.popupbtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	margin-top: 20px;
}

.popupbtn:disabled {
	color: #04CCFF;
	background: #999999;
	border: 2px solid #04CCFF;
}

.popupbtn:disabled:hover {
	cursor: default;
	background: #999999;
}

.popupbtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.popupbtnPink {
	color: #04213F;
	background: #ff00cb;
	border: 2px solid #ff00cb;
	border-radius: 3px;
	margin-top: 20px;
}
.popupbtnPink:hover {
	color: #ff00cb;
	background: #500030;
	border: 2px solid #ff00cb;
}

.popupbtnGray {
	color: #04213F;
	background: #aaaaaa;
	border: 2px solid #aaaaaa;
	border-radius: 3px;
	margin-top: 20px;
}
.popupbtnGray:hover {
	color: #aaaaaa;
	background: #111122;
	border: 2px solid #aaaaaa;
}

.closebtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.closebtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

.cancelbtn {
	color: #04213F;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	margin-left: 50px;
	margin-top: 20px;
}

.cancelbtn:hover {
	color: #04CCFF;
	background: #04213F;
	border: 2px solid #04CCFF;
}

/* Leaderboard Styling */
.leaderboard {
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: #04213F;
	border: 4px solid black;
	border-radius: 8px;
	width: 280px;
}

.leaderboard td {
	border-left: none;
	border-right: none;
	padding: 5px 25px 0px 0px;
}

/* default leaderboard styling*/
.leaderboard #name {
	color: #a80b4b;
}


/* Button Styling */

.btn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 8px;
  width: 175px;
  font-family: 'Press Start 2P', cursive;
}

.btn:disabled {
	background-color: #999999;
	border: 2px solid #000921
}

.btn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
	border: 2px solid #000921;
}

.btn:hover {
  color:black;
	background:#3EFF15;
	border: 2px solid #04CCFF;
}

.smallbtn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
  width: 150px;
  font-family: 'Press Start 2P', cursive;
}

.smallbtn:disabled {
	background-color: #999999;
}

.smallbtn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
}

.smallbtn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.reallySmallBtn {
	color: #000921;
	background: #04CCFF;
	border: 2px solid #04CCFF;
	border-radius: 3px;
	position: relative;
  	width: 60px;
  	font-family: 'Press Start 2P', cursive;
}

.reallySmallBtn:disabled {
	background-color: #999999;
}

.reallySmallBtn:disabled:hover {
	cursor: default;
	background-color: #999999;
	color: #000921;
}

.reallySmallBtn:hover {
	color: #04CCFF;
	background: #000921;
	border: 2px solid #04CCFF;
}

.clearbtn {
	color: #04CCFF;
	border: none;
  background: none;
  font-family: 'Press Start 2P', cursive;
}

.clearbtn:hover {
	color: #39a9dd;
}

.primarybtn {
	position: relative;
	background: none;
	color: #04CCFF;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.2em solid #04CCFF;
  padding: 0.5em 1em;
  font-family: 'Press Start 2P', cursive;
}

.loginprimarybtn {
	position: relative;
	background: none;
	color: #04CCFF;
	text-transform: uppercase;
	text-decoration: none;
	border: 0.2em solid #04CCFF;
	padding: 0.5em 1em;
	font-family: 'Press Start 2P', cursive;
}
.loginprimarybtn::before {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	right: 20%;
	top: -0.21em;
	transform: skewX(-45deg);
	-webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.loginprimarybtn::after {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 10%;
	 background: #000921;
	 height: 0.3em;
	 left: 20%;
	 bottom: -0.25em;
	 transform: skewX(45deg);
	 -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
	 transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
 }

/* .loginprimarybtn:hover::before {
	right: 80%;
}

.loginprimarybtn:hover::after {
	left: 80%;
} */

.primarybtn::before {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	right: 20%;
	top: -0.21em;
	transform: skewX(-45deg);
	-webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.primarybtn::after {
	content: "";
	display: block;
	position: absolute;
	width: 10%;
	background: #000921;
	height: 0.3em;
	left: 20%;
	bottom: -0.25em;
	transform: skewX(45deg);
	-webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
	transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

/* .primarybtn:hover::before {
	right: 80%;
}

.primarybtn:hover::after {
	left: 80%;
} */

/*Select Styling*/
select {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Large checkboxes */
.customCheckBox{
	height:15px;
	width: 15px;
	margin-right: 5px;
}

.customCheckBox[type="checkbox"]:before{
	width: 15px;
	height: 15px;
}
.customCheckBox[type="checkbox"]:after{
	top: -20px;
	width: 15px;
	height: 15px;
}

/* Miscellaneous. */
.inline {
	display: inline-block;
}

.vcenter{
	background: url('/login_background.gif');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.center {

	margin-left: auto;
	margin-right: auto;
}

.youtubePopup {
	height: 510px;
	overflow-y: auto;
}

.footer {
  margin-top: 50px;
  float: left;
  width:99%;
  height: 10%;
  position: fixed;
  clear: both;
  margin-top: 900px;
}

/* Moving text */
.marquee {
	color: white;
	font-family: 'Press Start 2P', cursive;
	white-space: nowrap;
	position: absolute;
}

.marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 30s linear infinite;
}

.marquee2 span {
	animation-delay: 10s;
	animation: marquee 40s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
